<!DOCTYPE html>
<!--Thymeleaf, ConfigFragment 선언-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="ImportMonitorPopup">
<div class="modal fade" tabindex="-1" role="dialog" id="importMonitorPopup">
	<div class="modal-dialog" role="document" style="max-width: 60%;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Import Monitor</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-100">
					<div class="card p-0">
						<form id="importMonitorPopupForm" name="importMonitorPopupForm">
							<input type="hidden" id="uuid" name="uuid">
							<div id="formDiv" class="card-body needs-validation">
								<div class="form-row">
									<div class="form-group col-md-10">
										<label for="name">매출</label>
										<input type="text" class="form-control" id="sales" name="sales" autofocus>
									</div>
									<div class="form-group col-md-10">
										<label for="name">이월 매출</label>
										<input type="text" class="form-control" id="carryoverSales" name="carryoverSales">
									</div>
									<div class="form-group col-md-8">
										<label for="name">A/N&EDI</label>
										<input type="text" class="form-control" id="arrivalNotice" name="arrivalNotice">
									</div>
									<div class="form-group col-md-8">
										<label for="name">INVOICE</label>
										<input type="text" class="form-control" id="invoice" name="invoice">
									</div>
									<div class="form-group col-md-20">
										<label for="name">PROFIT DATE</label>
										<input type="text" class="form-control" id="profitDate" name="profitDate">
									</div>
									<div class="form-group col-md-42">
										<label for="name">CNEE</label>
										<input type="text" class="form-control" id="concine" name="concine">
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-10">
										<label for="name">국내매출</label>
										<input type="text" class="form-control" id="domesticSales" name="domesticSales">
									</div>
									<div class="form-group col-md-10">
										<label for="name">해외매출</label>
										<input type="text" class="form-control" id="foreignSales" name="foreignSales">
									</div>
									<div class="form-group col-md-10">
										<label for="name">Q'ty</label>
										<input type="text" class="form-control" id="quantity" name="quantity">
									</div>
									<div class="form-group col-md-43">
										<label for="name">Partner</label>
										<input type="text" class="form-control" id="partner" name="partner">
									</div>
									<div class="form-group col-md-15">
										<label for="name">Tank no.</label>
										<input type="text" class="form-control" id="tankNo" name="tankNo">
									</div>
									<div class="form-group col-md-10">
										<label for="name">Term</label>
										<input type="text" class="form-control" id="term" name="term">
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-34">
										<label for="name">ITEM</label>
										<input type="text" class="form-control" id="item" name="item">
									</div>
									<div class="form-group col-md-20">
										<label for="name">Vessel / Voyage</label>
										<input type="text" class="form-control" id="vesselVoyage" name="vesselVoyage">
									</div>
									<div class="form-group col-md-14">
										<label for="name">Carrier</label>
										<input type="text" class="form-control" id="carrier" name="carrier">
									</div>
									<div class="form-group col-md-15">
										<label for="name">MBL NO.</label>
										<input type="text" class="form-control" id="mblNo" name="mblNo">
									</div>
									<div class="form-group col-md-15">
										<label for="name">HBL NO.</label>
										<input type="text" class="form-control" id="hblNo" name="hblNo">
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-10">
										<label for="name">POL</label>
										<input type="text" class="form-control" id="pol" name="pol">
									</div>
									<div class="form-group col-md-10">
										<label for="name">POD</label>
										<input type="text" class="form-control" id="pod" name="pod">
									</div>
									<div class="form-group col-md-10">
										<label for="name">TERMINAL</label>
										<input type="text" class="form-control" id="terminal" name="terminal">
									</div>
									<div class="form-group col-md-10">
										<label for="name">ETD</label>
										<input type="text" class="form-control" id="etd" name="etd" >
									</div>
									<div class="form-group col-md-10">
										<label for="name">ETA</label>
										<input type="text" class="form-control" id="eta" name="eta">
									</div>
									<div class="form-group col-md-10">
										<label for="name">ATA</label>
										<input type="text" class="form-control" id="ata" name="ata">
									</div>
									<div class="form-group col-md-37">
										<label for="name">비고</label>
										<input type="text" class="form-control" id="remark" name="remark">
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-10">
										<label for="name">F/T</label>
										<input type="text" class="form-control" id="ft" name="ft">
									</div>
									<div class="form-group col-md-10">
										<label for="name">DEM RATE</label>
										<input type="text" class="form-control" id="demRate" name="demRate">
									</div>
									<div class="form-group col-md-10">
										<label for="name">END OF F/T</label>
										<input type="text" class="form-control" id="endOfFt" name="endOfFt">
									</div>
									<div class="form-group col-md-15">
										<label for="name">ESTIMATE RETURN DATE</label>
										<input type="text" class="form-control" id="estimateReturnDate" name="estimateReturnDate" >
									</div>
									<div class="form-group col-md-11">
										<label for="name">RETURN DATE</label>
										<input type="text" class="form-control" id="returnDate" name="returnDate">
									</div>
									<div class="form-group col-md-15">
										<label for="name">RETURN DEPOT</label>
										<input type="text" class="form-control" id="returnDepot" name="returnDepot">
									</div>
									<div class="form-group col-md-11">
										<label for="name">TOTAL DEM</label>
										<input type="text" class="form-control" id="totalDem" name="totalDem">
									</div>
									<div class="form-group col-md-15">
										<label for="name">DEM RECEIVED</label>
										<input type="text" class="form-control" id="demReceived" name="demReceived">
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-15">
										<label for="name">DEM RCVD</label>
										<input type="text" class="form-control" id="demRcvd" name="demRcvd">
									</div>
									<div class="form-group col-md-15">
										<label for="name">COMMISSION DEM</label>
										<input type="text" class="form-control" id="demPrch" name="demPrch">
									</div>
									<div class="form-group col-md-15">
										<label for="name">DEM COMMISSION</label>
										<input type="text" class="form-control" id="demSales" name="demSales">
									</div>
									<div class="form-group col-md-20">
										<label for="name">DEPOT IN DATE(REPO ONLY)</label>
										<input type="text" class="form-control" id="depotInDate" name="depotInDate" >
									</div>
									<div class="form-group col-md-20">
										<label for="name">REPOSITION 매입</label>
										<input type="text" class="form-control" id="repositionPrch" name="repositionPrch">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer bg-whitesmoke br">
				<button type="button" class="btn btn-secondary" id="consignee-popup-close" data-dismiss="modal" th:text="#{common.button.label.close}"></button>
				<button type="button" class="btn btn-primary" onclick="paste()">Paste</button>
				<button type="button" class="btn btn-success" onclick="consigneePopupSave()" th:text="#{common.button.label.save}"></button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var consigneeData = {
	code : '',
	name : '',
	contactName : '',
	contactPerson : '',
	addressOne : '',
	addressTwo : '',
	etcOne : '',
	etcTwo : '',
	etcThree : ''
}

$("#importMonitorPopup").on("show.bs.modal", function(e) {
	dataBinding(consigneeData);
});
  
$("#importMonitorPopup").on("hide.bs.modal", function(e) {
	clearFormValues($('#importMonitorPopupForm').serializeObject());
  	clearFormValues(consigneeData);
  	$('#formDiv').removeClass('was-validated');
});
  
/* 붙여넣기 */  
function paste(){
	var ids = ['sales','carryoverSales','arrivalNotice','invoice','concine','profitDate','domesticSales','foreignSales','quantity','partner','tankNo','term','item','vesselVoyage','carrier','mblNo','hblNo','pol','pod','terminal','etd','eta','ata','remark','ft','demRate','endOfFt','estimateReturnDate','returnDate','returnDepot','totalDem','demReceived','demRcvd','demPrch','demSales','depotInDate','repositionPrch'];
	navigator.clipboard.readText().then(text => {
        // use text as a variable, here text = 'clipboard text'
		text = text.split("	");
	 	for ( var i = 0 ; i < text.length ; i++ ) {
	 		var data = text[i].replaceAll('US$','').replaceAll('$','').replaceAll('N/A','');
	 		if(i == 6 || i == 7){
	 			data = parseInt($.trim(data));
	 		}
	 		$('#' + ids[i]).val($.trim(data));
		}
    });
}  
  
// /* 데이터 저장 */
// async function consigneePopupSave(){
//  	// 벨리데이션 체크 
// 	if($('#name').val() === ''){
// 		$('#formDiv').addClass('was-validated');
// 		return false;
// 	}
  	
//   	let method = 'POST';
//   	if(!isEmpty($('#uuid').val())) method = 'PATCH';
//   	await requestApi(method, '/api/basic/consignee', $('#consigneePopupForm').serializeObject());
// }
 	
// function consigneePopupSaveFn(response){
// 	if(response.common.status === 'S'){
//  		$('#consignee-popup-close').click();
//  	}
//  }
</script>
</html>