<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="SidebarFragment">
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="light">
	<div class="sidebar-brand">
		<a href="./index.html" class="brand-link">
			<span class="brand-text fw-light">KC LOGIX</span>
		</a>
	</div>
	<div class="sidebar-wrapper">
		<nav class="mt-2">
			<ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
				<li class="nav-item">
					<a href="#" class="nav-link"> 
						<i class="nav-icon bi bi-box-seam-fill"/></i>
						<p>기준자료 <i class="nav-arrow bi bi-chevron-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="./index.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>단위</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="./index2.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>구간</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="./index3.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>화물종류</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon bi bi-table"></i>
						<p>기초자료 <i class="nav-arrow bi bi-chevron-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="./widgets/small-box.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>수하인</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="./widgets/small-box.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>파트너</p>
							</a>
						</li><li class="nav-item">
							<a href="./widgets/small-box.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>운송사</p>
							</a>
						</li><li class="nav-item">
							<a href="./widgets/small-box.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>아이템</p>
							</a>
						</li><li class="nav-item">
							<a href="./widgets/small-box.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>항구</p>
							</a>
						</li><li class="nav-item">
							<a href="./widgets/small-box.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>DEPOT</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon bi bi-pencil-square"></i>
						<p>관리자료<i class="nav-arrow bi bi-chevron-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="./layout/unfixed-sidebar.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>INBOUND</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon bi bi-clipboard-fill"></i>
						<p>리포트<i class="nav-arrow bi bi-chevron-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="./UI/general.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>INBOUND</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="./UI/icons.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>INVENTORY</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon bi bi-patch-check-fill"></i>
						<p>시스템<i class="nav-arrow bi bi-chevron-right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="./forms/general.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>역할관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="./forms/general.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>권한관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="./forms/general.html" class="nav-link">
								<i class="nav-icon bi bi-circle"></i>
								<p>사용자관리</p>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<!--end::Sidebar Menu-->
		</nav>
	</div>
	<!--end::Sidebar Wrapper-->
</aside>
</html>