<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!--공통 JS / CSS 영역을 관리하는 환경 영역-->
	<head th:replace="common/fragments/config :: ConfigFragment" />
	<script type="text/javascript">
		const SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper';
		const Default = {
		  scrollbarTheme: 'os-theme-light',
		  scrollbarAutoHide: 'leave',
		  scrollbarClickScroll: true,
		};
		document.addEventListener('DOMContentLoaded', function () {
		  const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
		  if (sidebarWrapper && typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== 'undefined') {
		    OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
		      scrollbars: {
		        theme: Default.scrollbarTheme,
		        autoHide: Default.scrollbarAutoHide,
		        clickScroll: Default.scrollbarClickScroll,
		      },
		    });
		  }
		});
	</script>
	<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
		<div class="app-wrapper">
			<!--Header 영역을 참조합니다.-->
			<header th:replace="common/fragments/header :: HeaderFragment"></header>
			<th:block th:replace="common/fragments/sidebar :: SidebarFragment"></th:block>
	
			<!--Content 내용 영역을 참조합니다-->
			<th:block layout:fragment="Content"></th:block>
	
			<!--Footer 영역을 참조합니다.-->
			<footer th:replace="common/fragments/footer :: FooterFragment"></footer>
		</div>
	</body>
</html>