<!DOCTYPE html>
<!--Thymeleaf, ConfigFragment 선언-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Popup">
<div class="modal fade" tabindex="-1" role="dialog" id="shipping-popup">
	<div class="modal-dialog" role="document" style="max-width: 40%;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" th:text="#{basic.shipping.popup.name}"></h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-100">
					<div class="card p-0">
						<form id="shippingPopupForm" name="shippingPopupForm">
							<input type="hidden" id="code" name="code">
							<div id="formDiv" class="card-body needs-validation">
								<div class="form-group">
									<label for="name" th:text="#{basic.shipping.popup.label.name}"></label>
									<input type="text" class="form-control" id="name" name="name" required autofocus>
									<div class="invalid-feedback" th:text="#{basic.shipping.popup.label.name.invalid.feedback}"></div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-49">
										<label for="contactname" th:text="#{basic.shipping.popup.label.contactName}"></label>
										<input type="text" class="form-control" id="contactName" name="contactName">
									</div>
									<div class="form-group col-md-50">
										<label for="contactperson" th:text="#{basic.shipping.popup.label.contactPerson}"></label>
										<input type="text" class="form-control" id="contactPerson" name="contactPerson">
									</div>
								</div>
								<div class="form-group">
									<label for="addressOne" th:text="#{basic.shipping.popup.label.addressOne}"></label>
									<input type="text" class="form-control" id="addressOne" name="addressOne">
								</div>
								<div class="form-group">
									<label for="addressTwo" th:text="#{basic.shipping.popup.label.addressTwo}"></label>
									<input type="text" class="form-control" id="addressTwo" name="addressTwo">
								</div>
								<div class="form-group">
									<label for="etcOne" th:text="#{basic.shipping.popup.label.etcOne}"></label>
									<textarea class="form-control" id="etcOne" name="etcOne" data-height="60" style="resize: none;" maxlength="4000"></textarea>
								</div>
								<div class="form-group">
									<label for="etcTwo" th:text="#{basic.shipping.popup.label.etcTwo}"></label>
									<textarea class="form-control" id="etcTwo" name="etcTwo" data-height="60" style="resize: none;" maxlength="4000"></textarea>
								</div>
								<div class="form-group">
									<label for="etcThree" th:text="#{basic.shipping.popup.label.etcThree}"></label>
									<textarea class="form-control" id="etcThree" name="etcThree" data-height="60" style="resize: none;" maxlength="4000"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer bg-whitesmoke br">
				<button type="button" class="btn btn-secondary" id="shipping-popup-close" data-dismiss="modal" th:text="#{common.button.label.close}"></button>
				<button type="button" class="btn btn-success" onclick="shippingPopupSave()" th:text="#{common.button.label.save}"></button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var shippingData = {
	code : '',
	name : '',
	contactName : '',
	contactPerson : '',
	addressOne : '',
	addressTwo : '',
	etcOne : '',
	etcTwo : '',
	etcThree : ''
}

$("#shipping-popup").on("show.bs.modal", function(e) {
	dataBinding(shippingData);
});
  
$("#shipping-popup").on("hide.bs.modal", function(e) {
	clearFormValues($('#shippingPopupForm').serializeObject());
  	clearFormValues(shippingData);
});
  
/* 데이터 저장 */
async function shippingPopupSave(){
 	// 벨리데이션 체크 
	if($('#name').val() === ''){
		$('#formDiv').addClass('was-validated');
		return false;
	}
  	
  	let method = 'POST';
  	if(!isEmpty($('#code').val())) method = 'PATCH';
  	await requestApi(method, '/api/basic/shipping', $('#shippingPopupForm').serializeObject(), {successFn : shippingPopupSaveFn, errorFn : shippingPopupSaveFn});
}
 	
function shippingPopupSaveFn(response){
	if(response.common.status === 'S'){
 		$('#shipping-popup-close').click();
 	}
 }
</script>
</html>