<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default/layout}" layout:fragment="Content">

<!-- 팝업 사용방법 -->
<th:block th:replace="html/apps/basic/popup/port-popup :: Popup"></th:block>

<!-- Page Specific JS File -->
<script th:inline="javascript">
var portTableColNames = [[#{basic.port.table.cols}]];
</script>
<script src="/templates/html/apps/basic/port.js"></script>
<!-- Main Content -->
<div class="main-content">
	<section class="section">
		<div class="section-header">
			<h1 th:text="#{common.maincontent.basic.port.title}"></h1>
			<div class="section-header-breadcrumb">
				<div class="breadcrumb-item active">
					<a href="/" th:text="#{common.sidebar.hmoe.name}"></a>
				</div>
				<div class="breadcrumb-item" th:text="#{common.sidebar.basic.name}"></div>
				<div class="breadcrumb-item" th:text="#{common.sidebar.basic.port.name}"></div>
			</div>
		</div>
		<div class="section-body">
<!-- 			<div class="row"> -->
<!-- 				<div class="col-100"> -->
<!-- 					<div class="card"> -->
<!-- 						<div class="card-header text-right"> -->
<!-- 							<button class="btn btn-primary" onclick="search()" th:text="#{common.button.label.search}"></button> -->
<!-- 						</div> -->
<!-- 						<div class="card-body"> -->
<!-- 							<div class="form-group row"> -->
<!-- 								<label th:text="#{basic.port.label.name}" class="col-form-label text-md-left col-md-10"></label> -->
<!-- 								<div class="col-md-20"> -->
<!-- 									<input type="text" id="name" name="name" class="form-control" onkeydown="if (event.key == 'Enter'){ search(); }"> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<div class="row">
				<div class="col-100">
					<div class="card">
						<div class="card-header text-right">
							<input type="file" id="customFile" name="customFile" style="visibility:hidden; width: 10px;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
		                     <a href="javascript:fileOpen();" class="btn btn-icon icon-left btn-primary" ><i class="far fa-edit"></i> Upload</a>
						</div>
						<div class="card-body p-0">
							<div class="table-responsive" style="overflow: hidden;">
								<table id="port-table"></table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

</html>
